@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-secondary-100: #a3b8bf;
  --color-secondary-200: #89a2ab;
  --color-secondary-300: #769199;
  --color-secondary-400: #5e7f87;
  --color-secondary-500: #598392;
  --color-secondary-600: #0e3b4f;
  --color-secondary-700: #0a3045;
  --color-secondary-800: #06253b;
  --color-secondary-900: #01161e;

  --color-primary-100: #f8f9fa;
  --color-primary-200: #e9ecef;
  --color-primary-300: #dee2e6;
  --color-primary-400: #ced4da;
  --color-primary-500: #adb5bd;
  --color-primary-600: #868e96;
  --color-primary-700: #495057;
  --color-primary-800: #343a40;
  --color-primary-900: #212529;

  --color-destructive: #cc5049;
  --color-success: #3fa170; 
  
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px; 
  }
}

@keyframes collapse {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

@keyframes expand-left {
  from {
    width: 10.33vw; 
  }
  to {
    width: 30vw; 
  }
}

@keyframes collapse-left {
  from {
    width: 30vw; 
  }
  to {
    width: 10.33vw;
  }
}

.sidebar {
  animation: expand-left 0.3s ease-out forwards;
}

.sidebar.expanded_sidebar {
  animation: collapse-left 0.3s ease-out forwards;
}

.group-items {
  max-height: 0;
  overflow: hidden;
  animation: collapse 0.3s ease-out forwards;
}

.group-items.expanded {
  animation: expand 0.3s ease-in forwards;
}
